<% include ../partials/header %>

<% include ../partials/menu %>

	<div class="container">

		<br>

		<div class="jumbotron">

		  <h1 class="display-4">Fall 2018 Stats</h1>

		  <p class="lead">Detailed information on how the Buffs are doing in the 2018 Football Season!</p>

		</div>

		

		<table class="table table-bordered" id="stats_table">

			<tr>

				<th class="align-bottom" rowspan="2">Game Date</th>

				<th class="align-bottom"rowspan="2">Opposing Team Name</th>

				<th class="text-center" colspan="2">Score</th>

				<th class="align-bottom" rowspan="2">Winner</th>

			</tr>

			<tr>

				<th>Home Score</th>

				<th>Opp. Score</th>

			</tr>
<%

			if(data){

				var table = document.getElementById("stats_table");

				var row_counter = 2;

				date.forEach(function(item){

					table.rows[row_counter].cells[0].innerHTML = item.game_date;

					table.rows[row_counter].cells[1].innerHTML = item.visitor_name;

					table.rows[row_counter].cells[2].innerHTML = item.home_score;

					table.rows[row_counter].cells[3].innerHTML = item.visitor_score;

					if(home_score >= visitor_name){

						table.rows[row_counter].cells[4].innerHTML = "CU Boulder";

					}

					else{

						table.rows[row_counter].cells[4].innerHTML = item.visitor_name;

					}

					row_counter = row_counter + 1;

					

				});

}

%>

			

		</table>

		<br>

		<table class="table text-center">

			<tr>

				<th>Wins</th>

				<th>Losses</th>

			</tr>

			<tr>

<%

var table

%>

				<td> <!-- TODO: Display the total number of wins here.  

							    This value should come from your server.js files query, don't calculate it in this file! --></td>

				<td> <!-- TODO: Display the total number of losses here.  

							    This value should come from your server.js files query, don't calculate it in this file! --></td>

			</tr>

		</table>

		

	</div>

<% include ../partials/footer %>